.about {
  img {
    width: 100%;
    margin-top: 2%;
  }

  article {
    width: 92%;
    padding: 2%;
    margin: 0 auto;
    h3, h5, h6 {
      text-align: center;
    }

    h5{
      margin-top: center;
      border-bottom: none;
      margin-top: 2%;
    }

    p {
      text-align: center;
      margin: 2% 2% 4% 2%;
    }

    .technologies {
      display: block;
      margin: 0 auto;
      li {
        float: left;
        width: 33%;
        margin: 5% auto 0 auto;
        text-align: center;
        span {
          font-size: 7.5vw;
          color: #888;
        }

        p {
          margin-top: 2%;
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .about {
    article {
      h3, h5, h6, li {
        font-size: 50px;
      }

      p {
        line-height: normal;
        font-size: 40px;
      }

      .technologies {
        li {
          span {
            font-size: 75px;
          }

          p {
            font-size: 40px;
          }
        }
      }
    }

    a {
      font-size: 50px;
    }
  }
}
