.home {
  .banner {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      margin-top: 2%;
    }

    h4 {
      position: absolute;
      top: 5%;
      width: 100%;
      text-align: center;
    }
  }

  article {
    background-color: $primary;
    width: 96%;
    margin: 0 auto;
    padding: 2%;
    h3 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-bottom: 2%;
      padding-bottom: 2%;
      color: #888;
      border-bottom: 1px solid #888;
    }

    p:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  button {
    a {
      font-size: 5vw;
    }
  }
}

@media only screen and (min-width: 640px) {
  .home {
    .banner {
      h4{
        margin-top: 4%;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .home {
    .banner {
      max-width: 960px;
      margin: 0 auto;

      h4 {
        margin-top: 3%;
        font-size: 100px;
      }
    }

    article {
      h3 {
        font-size: 50px;
      }

      p {
        font-size: 40px;
      }
    }

    button {
      a {
        font-size: 50px;
      }
    }
  }
}
