header {
  hgroup {
    display: inline-block;
    width: 65%;
    margin: 2%;
  }

  span {
    float: right;
    font-size: 10vw;
    margin: 1% 2%;
  }

  nav {
    float: left;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    height: 200vw;
    transform: translateY(-200%);
    transition: all 350ms;
    z-index: 99999;
    ul {
      margin-top: 25%;
      li {
        font-size: 10vw;
        text-align: center;
        width: 100%;
        a, a:visited {
          display: block;
          padding: 2% 0;
          color: $secondary;
          width: 100%;
        }
      }
    }
  }

  .show-nav {
    transform: none;
  }
}

.scroll-stop {
  overflow: hidden;
}

@media only screen and (min-width: 640px) {
  header {
    div {
      hgroup {
        h1 {
          font-size: 50px;
        }

        h2 {
          font-size: 35px;
        }
      }

      span {
        display: none;
      }

      nav {
        transform: none;
        background: none;
        transition: none;
        position: static;
        float: none;
        width: 100%;
        height: auto;
        ul {
          margin: 0 auto;
          li {
            font-size: 30px;
            float: left;
            width: auto;
            padding: 0 2%;
            a {
              display: inline-block;
              width: auto;
            }
          }
        }
      }
    }
  }
}
